<div class="bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0 hidden xl:block">
<div class="h-full  pl-4 py-6 lg:w-64">
    <div>
        <button
        class="select-none flex gap-2 rounded-lg bg-blue-500 py-3 px-5 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
      >
       <p> Create group </p>  <i class="fa-solid fa-plus"></i> 
      </button>
    </div>
    <div class="flex-1 min-w-0 pt-4 ">
       
            <h2 class="text-sm font-extrabold text-gray-900 border-b border-gray-200 py-3 p-3">Connected Users :</h2>
       
    </div>
</div>
 <!-- converstaion list-->
 @for (item of users; track $index) {
  <div   class=" rounded-lg  px-2 py-2 flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 mb-3 hover:bg-gray-200">
    <div class="flex-shrink-0">
      <!-- ngif user conected-->
      <div  class=" relative rounded-full  before:absolute before:w-2 before:h-2 before:bg-green-500 before:rounded-full before:-right-0 before:-bottom-8 before:ring-1 before:ring-white "></div>
      <img [src]="item.picture" class="rounded-full h-8 w-8">
    </div>
    <div class="flex-1 min-w-0">
      <a href="#" class="focus:outline-none">
        <div class="flex items-center justify-between">
          <!-- friend name -->
          <p class="text-sm font-bold text-gray-900">{{item.username}}</p>
        </div>

      </a>
    </div>
  </div>
 }
 

</div>