<nav
  class="block w-full  px-4 py-2  text-white bg-gradient-to-b from-blue-500 to-blue-700 shadow-md  backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-3">
  <div class=" flex flex-wrap items-center justify-between mx-auto text-blue-gray-900">
    <div class="items-start hidden gap-x-2 lg:flex">
        <img src="assets/logo.png" alt="logo" class="w-8 h-8">

      </div>


    <!-- icons -->
    <div class="hidden lg:block">
      <ul class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-4">
        <li
        class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal  text-white">
        <a href="#" class="flex items-center">
          <i class="fa-solid fa-bell"></i>
        </a>
      </li>
        <li
          class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal  text-white">
          <a href="#" class="flex items-center">
            <i class="fa-solid fa-user"></i>
          </a>
        </li>
        <li
          class="flex items-center p-1 font-sans text-sm antialiased font-medium leading-normal  text-white">
          <a href="#" class="flex items-center">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </li>
        <li>
          <img
    src="https://docs.material-tailwind.com/img/face-2.jpg"
    alt="avatar"
    class="relative inline-block h-8 w-8 !rounded-full  object-cover object-center"
  />
        </li>
      </ul>
    </div>
    

    <!-- search -->
   
    <button
      class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
      type="button">
      <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </span>
    </button>
  </div>
</nav>

