<div class=" p-2 sm:pb-6   flex flex-col h-full  xl:flex">
@if (conversation?.type === 'one-on-one') {
    <div class="flex sm:items-center justify-between py-3 border-b border-gray-200 p-3">
        <div class="flex items-center space-x-2">
            <!--friend image-->
             <!--if connected-->
            <img [src]="friend.picture" class="w-10 sm:w-12 h-10 sm:h-12 rounded-full cursor-pointer">
            <div  class=" relative rounded-full  before:absolute before:w-2 before:h-2 before:bg-green-500 before:rounded-full before:right-2 before:-bottom-5 before:ring-1 before:ring-white "></div>
            
            <div class="flex flex-col leading-tight">
                <div class="text-xl mt-1 flex items-center">
                    <!--friend user name-->
                    <span class="text-gray-700 mr-3">{{friend.username}}</span>
                </div>
            </div>
        </div>
        <div class="flex items-center space-x-2">
            <button class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                <i class="fa-solid fa-video"></i>
            </button>
        </div>
    </div>
}
@if (conversation?.type === 'group') {
    <div class="flex sm:items-center justify-between py-3 border-b border-gray-200 p-3">
        <div class="flex items-center space-x-2">
            <!--friend image-->
             <!--if connected-->
            <i class="fa-solid fa-people-group" class="w-10 sm:w-12 h-10 sm:h-12 rounded-full cursor-pointer"></i>
            <div  class=" relative rounded-full  before:absolute before:w-2 before:h-2 before:bg-green-500 before:rounded-full before:right-2 before:-bottom-5 before:ring-1 before:ring-white "></div>
            
            <div class="flex flex-col leading-tight">
                <div class="text-xl mt-1 flex items-center">
                    <!--friend user name-->
                    <span class="text-gray-700 mr-3">Group</span>
                </div>
            </div>
        </div>
        <div class="flex items-center space-x-2">
            <button class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                <i class="fa-solid fa-video"></i>
            </button>
        </div>
    </div>
}


<!--chat window-->
    <div  class=" flex flex-col h-full  space-y-4 p-3 scrollbar-hide   justify-end  flex-grow ">
        <!--converstaion-->
        <!-- friend messages-->
        
           @for (item of conversation?.messages; track $index) {
            @if (item.senderId != this.user?.id) {
                <div class="flex items-end ">
                    <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start">
                        <div>
                            <span class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-200 text-gray-600">
                                messgae1
                            </span>
                        </div>
                    </div>
                    <img src="https://docs.material-tailwind.com/img/face-2.jpg" class="w-8 h-8 rounded-full order-1">
                </div>  
            }
            @if (item.senderId === this.user?.id) {
                <div class="flex items-end justify-end">
                    <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-end">
                            <span class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-500 text-white">
                                messgae1
                            </span>
                    </div>
                </div>  
            }   
           }  
            
    </div>

    <!-- messgages box-->
    <div class="border-t-2 border-gray-200 px-4 pt-4 mt-auto">
        <div class="relative flex">
            <input placeholder="Write something" type="text" name="messgae" class=" focus:ring-blue-500 focus:border-blue-500 focus:outline-none border w-full focus:placeholder-gray-400 text-gray-600 placeholder-gray-300 pl-8 bg-gray-100 rounded-full py-3 border-gray-200"> 
            <span class="absolute inset-y-0 right-0 flex items-center">
                <button (click)="fileInput.click()" class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300">
                    <i class="fa-solid fa-camera"></i>
                </button>
                <button (click)="toggleEmojiPicker()"  type="button"  class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300">
                    <i class="fa-solid fa-face-smile"></i>
                </button>
                <button class="inline-flex items-center justify-center rounded-full h-12 w-12 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-900">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </span>
        </div>
        <div *ngIf="showEmojiPicker" class=" absolute mr-10 mb-7 w-96 bottom-12 right-36 rounded-md border border-blue-gray-50 bg-white  shadow-blue-gray-500/10 focus:outline-none p-2 ">
        <span *ngFor="let emoji of  emojis" class="cursor-pointer text-xl mr-2 hover:bg-gray-300 transition duration-500 ease-in-out" (click)="selectEmoji(emoji)" >{{emoji}}</span>
        </div>
    </div>
    <input type="file" hidden #fileInput (change)="onFileSelected($event)">
</div>
