<div>
    <div class="relative min-h-screen flex flex-col bg-gray-100">
        <nav class="flex-shrink-0">
            <app-navbar></app-navbar>
        </nav>

        <div class="flex-grow w-full max-w-7xl mx-auto lg:flex">
            <div class="flex-1 min-w-0 bg-white xl:flex">
                <div class="border-b border-gray-200 xl:border-b-0 xl:flex-shrink-0 xl:w-64 xl:border-x xl:border-gray-200 bg-gray-50">
                    <div class="h-full pl-4 pb-4  sm:pl-6 lg:pl-8 xl:pl-0">
                        <!-- Start of sidebar -->
                        <app-chat-list></app-chat-list>
                        <!-- End of sidebar -->
                    </div>
                </div>
                <div class="flex-1 justify-between">
                   <app-chat-window></app-chat-window>
                </div>
               <div>
               <app-connected-users></app-connected-users>
               </div> 
            </div>
        </div>
    </div>
</div>