/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track (the empty space in which the scrollbar sits) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .messages{
    height: calc(100% - 160px);
    overflow-y: scroll;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .emoji-picker {
    display: none; /* Initially hidden */
    position: absolute;
    bottom: 40px; /* Adjust this value based on your layout */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .emoji-picker .emoji {
    cursor: pointer;
    font-size: 20px;
    margin-right: 8px;
  }